/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
  margin: 0;
}

h1 {
  color: white;
  padding: 20px;
}

h2 {
  color: #333;
  padding: 10px;
}

p {
  margin: 5px 0;
}

/* Estilos do header e navegação */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0056b3;
  border-bottom: 1px solid #dee2e6;
}

nav {
  display: flex;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #f4f4f4;
}

nav a:hover {
  text-decoration: underline;
}

/* Layout principal */
.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
}

.column {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 30%;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos de formulário e botões */
label {
  display: block;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Mensagens */
#mensagem {
  margin-top: 20px;
  font-weight: bold;
  color: green;
}

/* Estilos de gerenciamento de tarefas */
.gerenciamento-tarefas {
  padding: 20px;
}

.tarefas-container {
  display: flex;
  justify-content: space-between;
}

.coluna {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.card {
  background: #f9f9f9;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilo dos botões dentro das tarefas */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Estilo para os selects */
select {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
